
# Environnement Python
*.pyc
*.pyo
__pycache__/

# Environnement virtuel
venv/
env/
.venv/
env.bak/
env_axel/

# Fichiers Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.env

# Fichiers d'IDE
.vscode/
.idea/
.project
.settings/
.spyderproject
.ropeproject

# Fichiers Docker
docker-compose.yml
Dockerfile
*.docker

# Fichiers de migration Django (si tu ne veux pas versionner les migrations locales)
migrations/

# F
